body {
    font-family: sans-serif; 
    color: pink;
    margin: 0; 
    padding: 0; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}

h1 {
    font-size: 50px;
    color: black;
}

h2 {
    font-size: 35px;
    color: pink;
}

h3 {
    font-size: 30px;
    color: pink;
}

li {
    font-size: 25px;
    color: black;
}

ol {
    font-size: 25px;
    color: black;
}

p { 
    font-size: 25px;
    color: black;
}

#main-title {
    text-align: center;
    color: black;
}

.highlight {
    background-color: white; 
    border: 10px solid pink;
    padding: 10px; 
    font-size: 20px;
}