body {
    font-family: sans-serif; 
    color: pink;
    margin: 0; 
    padding: 0; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}

h1 {
    font-size: 50px;
    color: gray;
}

h2 {
    font-size: 40px;
    color: gray;
}

p { 
    font-size: 10px;
    color: pink;
}

#main-title {
    text-align: center;
    color: black;
}

.highlight {
    background-color: lightgray;
    border-left: 4px solid pink;
    padding: 10px; 
}